@model IEnumerable<Pacjent>
    @{
    ViewData["Title"] = "Pacjenci";
    }
<font face="Times New Roman">
    <div align="center">
    <h2><b>Pacjenci</b></h2>
        </div>
    <hr />
    <font size="4">
    <form asp-controller="Lekarz" asp-action="Index" method="get">
        <p>
            <b> Podaj PESEL:</b>
            <div class="row">
                <div class="col-md-3">
                    <input class="form-control" name="SearchString" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Szukaj</button>
                </div>

            </div>


        </p>
    </form>
    <table class="table">
        <tr>
            <th>
                PESEL
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Imię
            </th>
            <th>Wizyty</th>
        </tr>
        @{


        foreach (var item in Model)
        {

            <tr>
                @if (item.Pesel != 0)
                {
                <td>
                    @Html.DisplayFor(modelItem => item.Pesel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imie)
                </td>
                <td>
                    <form asp-controller="Lekarz" asp-action="Wizyty" method="get">
                        <a asp-action="Wizyty" asp-route-id="@item.IdPacjent">Wyszukaj wizyte</a>
                    </form>
                    <form asp-controller="Lekarz" asp-action="WizytyDodaj" method="get">
                        <a asp-action="WizytyDodaj" asp-route-id="@item.IdPacjent">Dodaj wizyte</a>
                    </form>
                   
                </td>
                }
            </tr>

        }

        }
    </table>
