@using Logowanie.Models
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model IEnumerable<Leki>

@{
    ViewData["Title"] = "Leki";
}

<font face="Time New Roman">
    <div align="center">
        <h2><b>Leki</b></h2>
    </div>
    <hr />
    <br />
    <br />
    <font size="4">

        <table class="table">
            <tr>
                <th>
                    Nazwa leku
                </th>
                <th>
                    Stały
                </th>
                <th>
                    Czasowy
                </th>
                <th>
                    Od
                </th>
                <th>
                    Do
                </th>
            </tr>

            @{


                foreach (var item in Model.Reverse())
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Staly)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Czasowy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Od)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Do)

                        </td>
                    </tr>

                }

            }

        </table>
