@using System.Security.Claims;
@model Pacjent;
@{
    ViewData["Title"] = "Dane";
}
<font face="Time New Roman">
    <div align="center">
    <h2><b>Dane osobowe</b></h2>
        </div>
    <hr />
    <font size="4">
        <br /><br />

        @{
            string imie;
            string nazwisko;
            string date;
            string telefon;

            string uczulenia;
        }

        @{ if (User.HasClaim(ClaimTypes.Role, "Pacjent"))
            {

                imie = Model.Imie;
                nazwisko = Model.Nazwisko;
                date = Model.DataUr.ToShortDateString();
                telefon = Model.Telefon;
                uczulenia = Model.Uczulenia;


            }

            else
            {

                imie = " ";
                nazwisko = "";
                date = "";
                telefon = " ";
                uczulenia = "";
            }
        }

              <table class="table">
                  <tr>
                      <th>
                          Imię
                      </th>
                      <th>
                          Nazwisko
                      </th>
                      <th>
                          Data urodzenia
                      </th>
                      <th>
                          Numer telefonu
                      </th>
                      <th>Uczulenia</th>
                  </tr>

                  <tr>


                      <td>
                          @imie
                      </td>
                      <td>
                          @nazwisko
                      </td>
                      <td>
                          @date
                      </td>
                      <td>
                          @telefon
                      </td>
                      <td>
                          @uczulenia
                      </td>


                  </tr>
              </table>

            @*Imię:
            <b>@imie</b>
            <br />Nazwisko:
            <b>@nazwisko</b>
            <br />Data urodzenia:
            <b>@date</b>
            <br />Numer telefonu:
            <b>@telefon</b>
            <br />Uczulenia:
            <b>@uczulenia</b>*@





    </font></font>
