@using Logowanie.Models
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model IEnumerable<Wizyty>
@{
    ViewData["Title"] = "Wizyty";
}
<font face="Time New Roman">
    <div align="center">
    <h2><b>Wizyty</b></h2>
        </div>
    <hr />
    <font size="4">
    

        <form asp-controller="Home" asp-action="Contact" method="get">
            <p>
               <b> Wpisz datę:</b>
                <div class="row">
                    <div class="col-md-3">
                        <input class="form-control" name="SearchString" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default" style="">Szukaj</button>
                        Należy wpisać datę w formacie: mm/dd/rrrr
                    </div>

                </div>


            </p>
        </form>
<table class="table">
    <tr>
        <td width="200" >
           <b> Data wizyty </b>
        </td>
        <td width="500" >
          <b>  Opis </b>
        </td>
        <td width="500" >
          <b>  Zalecenia </b>
        </td>
        <td width="100" >
          <b>  Leki </b>
        </td>
    </tr>

    @{


        foreach (var item in Model)
        {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataWizyty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zalecenia)
        </td>
        <td>
            <form asp-controller="Home" asp-action="Privacy" >
                <a asp-action="Privacy" asp-route-idw="@item.IdWizyty" asp-route-id="@item.IdPacjent">Leki</a>
            </form>
        </td>
        
    </tr>

        }

    }
</table>
        </font>
    </font>
